[Unit]
Description=AWS GWLB Tunnel Handler

[Service]
ExecStart=/install/geneve/gwlbtun -c /install/scripts/create-nat.sh -p 80
Restart=always
RestartSec=5s

